@model MenuDetailVM

@{
    ViewData["Title"] = "MenuDetailList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .loader {
        display: none;
    }

    .position {
        width: 25%;
        position: relative;
    }

        .position a, p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    .btnposition {
        vertical-align: middle;
        text-align: center;
    }

    <!-- -ms-transform: translate(-50%, -50%); -->

</style>
@*<h4 style="color:red;">@TempData["mesaj"] </h4>*@



<!--<form asp-action="Get_FoodsbyCategoryID_Ajax" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
-->
<!-- loader class'ın; display'i none olarak set edildi! -->


<!--<div class="spinner-border loader" role="status">
    <span class="sr-only">Loading...</span>
</div>
<hr class="loader" />-->

<form asp-action="AddFoodtoMenu" method="post">

@{
    var menuName = TempData["Menu_Name"].ToString();
    TempData["Menu_Name"] = menuName;
}

<h2>
    @menuName
</h2>
<hr />
<br />

<div class="row">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">

        <div class="col-md-3">
            <!--asp-for="SelectedCategory"-->
            <!-- onchange="SelectCategoryItem()" -->
            <select class="form-control" id="selectforcategory" asp-for="_categoryList">

                <option>Lütfen bir kategori seçiniz.</option>
                @foreach (Category_of_FoodDTO category in Model.Categories_of_AllFoods_DTOs)
                {
                    <option >@category.Category_of_FoodName</option>

                }
            </select>
            <!--<span asp-validation-for="_categoryList" class="text-danger"></span>-->
        </div>

        <!-- asp-for="Category_of_FoodDTO.Category_of_FoodName" asp-items="ViewBag.Category_of_FoodNames"

        asp-for="foodid"  asp-items="Html" Html.GetEnumSelectList<Technosoft_Project.Enums.Status>() -->
        <!-- asp-items="ViewBag.food_items" gerek klamadı-->

        <div class="col-md-3">
            <select class="form-control" id="foodsofcategory" asp-for="_foodList_ID">

                @if (Model._foodList_ID != null)
                {
                    @foreach (var foodNames in Model._foodList_ID)
                {

                      <option></option>
                }
               }
            </select>
                <!--            <span asp-validation-for="_foodList_ID" class="text-danger"></span>
                */        </div>-->


            <!-- button:  modal/pop up sayfası için / submit: post işlemleri için !!!-->

            <div class="col-md-6">
                <!-- button da type="submit" belirtilmeli !!! -->

                <!-- <input type="submit" value="Menüye Eklemek için tıklayınız" class="btn btn-outline-success mt-2" /> -->

                <button type="submit" class="btn btn-outline-success mt-2 ">Menüye Eklemek için tıklayınız</button>
            </div>

    </div>

    <input class="form-control" type="hidden" asp-for="menu_id" />


</div>

<!--
        TempData["messageCategory_of_Food"] = 4;
        <a class="" asp-area="Admin" asp-controller="Menu" asp-action="Get_FoodsbyCategoryID_Ajax" asp-route-id="TempData["messageCategory_of_Food"]">İptal</a>
-->
@if (Model.MenuDetailDTOs.Count != 0)
{
    <div>
        @foreach (Category_of_FoodDTO category in Model.Categories_of_Menu_DTOs)
        {
            /*                        int Category_of_Food_status = (int)item.Status;  // asp-route-status="@(int)item.Status" olmuyor...*/

            <h5>
                @category.Category_of_FoodName
            </h5>

            <div class="panel panel-primary">
                <div class="panel panel-body">
                    <table class="table table-hover table-bordered table-responsive-lg" id="tab2" width="100%" border="0" cellspacing="0" cellpadding="100%">
                        <thead class="thead-light">
                            <tr>
                                <th>Index</th>
                                <th class="position"><p>Yemek İsmi</p></th>
                                <th class="position"><p>Ücret</p></th>
                                <th class="position"><p>Resim</p></th>
                                <th></th>
                            </tr>
                        </thead>
                        <!--<dd class="position">

                        Yemek İsmi
                        Ücret
                        Resim

                        </dd> -->
                        @foreach (var foods in Model.MenuDetailDTOs)
                        {
                            @if (foods.CategoryName_of_Food == category.Category_of_FoodName)
                            {
                                <tr>
                                    <td></td>
                                    <td class="position">
                                        <p> @foods.FoodName</p>
                                    </td>
                                    <td class="position">
                                        <p> @foods.FoodPrice</p>
                                    </td>
                                    <td class="position">
                                        <p>
                                            @if (foods.FoodPicture != null)
                                            {
                                                <img style="width:85px; height:50px" src="@foods.FoodPicture" />
                                            }
                                        </p>
                                    </td>
                                    <td class="btnposition">
                                        @*<a asp-action="DeleteMenu" asp-controller="Menu" asp-route-id="@foods.ID" class="btn btn-danger">Sil</a>*@

                                        <button class="btn btn-danger" id="deleteMenu" value="deleteMenuValue" data-id=@foods.ID>Sil</button>
                                    </td>
                                </tr>
                            }

                        }
                    </table>
                </div>
            </div>
        }
    </div>
}

else
{
    <br />

    <div class="jumbotron" id="tab1" style="padding:20px;  background-color:lightgrey"> Menü boş !   </div>

    <!--   BURASIIII DEĞİLLLL <input type="submit" id="btnIslemYap" value="İşlem Yap" />

     <button class="btn btn-outline-success " id="addNewFood" value="addNewFoodValue">Ürün Eklemek için tıklayınız</button> -->
}

</form>


<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/alertify.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/alertify.min.css" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/themes/default.min.css" />


@if (TempData["messageMenu"] != null) // konrol yapılmazsa messageCategory_of_Food null olduğu zaman .ToString() 'de hata verir..
{
    @if (TempData["messageMenu"].ToString() == "Yemek menüye eklendi")
    {
        <script>
            alertify.warning("Yemek menüye eklendi");
        </script>
    }
    else if (TempData["messageCategory_of_Food"].ToString() == "Kategori silindi")
    {

        <script>
            alertify.error("Kategori silindi");
        </script>
    }
    else if (TempData["messageCategory_of_Food"].ToString() == "Kategori eklendi")
    {

        <script>
            alertify.success("Kategori eklendi");
        </script>
    }

    TempData["messageCategory_of_Food"] = null;

}





<script type="text/javascript">

    @Model.JavascriptToRun // yaptığı iş, içinde barındırdığı ShowErrorInsertOperationPopup veya ShowErrorUpdateOperationPopup fonksiyonu sayesinde, bu fonksiyonları çağırmak

        function ShowErrorInsertOperationPopup() {
            // alert('Sorry, we could not process your order.');

            $.ajax({
                //url: '@@Url.Action("AddFoodAjax","Food")',
                url: 'AddCategory_of_FoodAjax',
                //data: { pdto_reloaddata: @@Model.FoodDTO },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDCategory_of_Food").html(data);
                    CRUDCategory_of_FoodModalLoaded();

                },
                beforeSend: function () {
                    $('.loader').show(); // Assuming that you have some loader defined
                },
                complete: function () {
                    $('.loader').hide(); //Hide this loader
                },
                error: function () {
                    alert("Hata alındı.");
                }
            });

        }

    function ShowErrorUpdateOperationPopup(_id) {
        // alert('Sorry, we could not process your order.');

        $.ajax({
            //url: '@@Url.Action("AddFoodAjax","Food")',
            url: 'UpdateCategory_of_FoodAjax',
            data: { id: _id },
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                $("#CRUDCategory_of_Food").html(data);
                CRUDCategory_of_FoodModalLoaded();

            },
            beforeSend: function () {
                $('.loader').show(); // Assuming that you have some loader defined
            },
            complete: function () {
                $('.loader').hide(); //Hide this loader
            },
            error: function () {
                alert("Hata alındı.");
            }
        });

    }



    function CRUDCategory_of_FoodModalLoaded() {
        $("#CRUDCategory_of_FoodModal").modal('show'); // #CRUDCategory_of_FoodModal içinde CRUDCategory_of_Food var (<div class="modal-body" id="CRUDCategory_of_Food">) onun içinde de data var (_CrudCategory_of_FoodPartial)
    }

    /*

    function SelectCategoryItem() {

    var selcat = $("#selectforcategory").prop('selectedIndex');

    $.ajax({

            url: 'Url.Action("Get_FoodsbyCategoryID_Ajax")',
            data: { id: selcat },
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                $("#foodsofcategory").html(data);


            }
        });
    }
    */

    $(function () {

        $("#selectforcategory").on("change", function () {

            /*
            alert($('#selectforcategory :selected').text());
            alert($('#selectforcategory :selected').val());
            */

            /*
            alert($("#selectforcategory")[0].selectedIndex);
            alert($("#selectforcategory").prop('selectedIndex'));
            */

            /*
            var carList = document.getElementById("selectforcategory");
            var selCar = carList.options[carList.selectedIndex];
            alert(selCar)

            */
            var selectedCategoryid = $("#selectforcategory").prop('selectedIndex');
            var selectedCategoryName = $('#selectforcategory :selected').text();

            var ddlFoods = $('#foodsofcategory');
            ddlFoods.empty();
            ddlFoods.append($("<option></option>").val('').html('Lütfen yemek seçiniz.'));

            $.ajax({

                type: 'GET',
                dataType: 'json',
                /* url: 'Get_FoodsbyCategoryID_Ajax/? id =' + id,*/
                /* url: 'Url.Action("MenuDetailList")',*/ /*, id: TempData["Menu_ID"] */
                url: 'Get_FoodsbyCategoryID_Ajax',
                data: { id: selectedCategoryid, name: selectedCategoryName },

                success: function (data) {

                    /*APENDDDDDDDDD*/
/*                    $.each(data, function (i, foods) {
                        ddlFoods.append($("<option></option>").html(foods));
                    });*/

                    $.each(data, function (index, foods) {
                        ddlFoods.append($("<option></option>").val(index).html(foods));
                        /* index --> _foodList_ID */
                    });

                }
            });
        });
    });


    $(function () {
        //$("#addNewCategory_of_Food").click(function () {
        $("#tab1").on("click", "[value=addNewCategory_of_FoodValue]", function () {
            $.ajax({
                //url: '@@Url.Action("AddCategory_of_FoodAjax","Category_of_Food")',
                url: 'AddCategory_of_FoodAjax',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDCategory_of_Food").html(data);
                    CRUDCategory_of_FoodModalLoaded();

                },
                beforeSend: function () {
                    $('.loader').show(); // Assuming that you have some loader defined
                },
                complete: function () {
                    $('.loader').hide(); //Hide this loader
                },
                error: function () {
                    alert("Hata alındı.");
                }
            });
        });
    });

    $(function () {
        //$("#updateCategory_of_Food").click(function () {
        $("#tab2").on("click", "[value=updateCategory_of_FoodValue]", function () {
            $.ajax({
                //url: '@@Url.Action("AddCategory_of_FoodAjax","Category_of_Food")',
                url: 'UpdateCategory_of_FoodAjax',
                data: { id: $(this).attr("data-id") },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDCategory_of_Food").html(data);
                    CRUDCategory_of_FoodModalLoaded();

                },
                beforeSend: function () {
                    $("#LoadingCategory_of_FoodModal").modal('show');
                },
                complete: function () {
                    $("#LoadingCategory_of_FoodModal").modal('hide');

                    // $('.loader').hide(); //Hide this loader
                },
                error: function () {
                    alert("Hata alındı.");
                }
            });
        });
    });


    $(function () {
        //$("#addNewCategory_of_Food").click(function () {
        $("#tab2").on("click", "[value=deleteCategory_of_FoodValue]", function () {
            $.ajax({
                //url: '@@Url.Action("AddCategory_of_FoodAjax","Category_of_Food")',
                url: 'DeleteCategory_of_FoodAjax',
                data: { id: $(this).attr("data-id") },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDCategory_of_Food").html(data);
                    CRUDCategory_of_FoodModalLoaded();

                },
                error: function () {
                    alert("Hata alındı.");
                }
            });
        });
    });


</script>


