@model CategoryofFoodVM

@{
    ViewData["Title"] = "CategoryofFoodListforMember";
    if (TempData["onlyOnce"] == null)
    {
        Layout = null;
    }
    else
    {
        TempData["onlyOnce"] = null;
        Layout = "~/Views/CategoryofFood/_CategoryofFoodLayout.cshtml";
    }
    //Layout = "~/Views/CategoryofFood/_CategoryofFoodLayout.cshtml";
}

<style>
    .loader {
        display: none;
    }

    .position {
        width: 25%;
        position: relative;
    }

        .position a, p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    .btnposition {
        vertical-align: middle;
        text-align: center;
    }

    <!-- -ms-transform: translate(-50%, -50%); -->

</style>
@*<h4 style="color:red;">@TempData["mesaj"] </h4>*@


<!-- loader class'ın; display'i none olarak set edildi! -->
<div class="spinner-border loader" role="status">
    <span class="sr-only">Loading...</span>
</div>
<hr class="loader" />


@if (Model.UserCategoryJunctionDTOs.Count == 0)
{
    <div class="jumbotron" id="tab1" style="padding:20px;  background-color:lightgrey">
        @*<input type="submit" id="btnIslemYap" value="İşlem Yap" />*@

        <button class="btn btn-outline-success " id="addNewCategoryofFood" value="addNewCategoryofFoodValue">Kategori Eklemek için tıklayınız</button>
    </div>

}
else
{
    <div id="tab1" class="mb-3" style=" display: inline; margin-right: 25px;">
        <button class="btn btn-outline-success " id="addNewCategoryofFood" value="addNewCategoryofFoodValue">Kategori Eklemek için tıklayınız</button>
    </div>

    <br />
    <br />


    <div class="panel panel-primary">
        <div class="panel panel-body">
            <table class="table table-hover table-bordered table-responsive-lg" id="tab2" width="100%" border="0" cellspacing="0" cellpadding="100%">
                <thead class="thead-light">
                    <tr>
                        <th>Index</th>
                        <th class="position"><p>Kategori İsmi</p></th>
                        <th class="position"><p>Durum</p></th>
                        <th class="position"><p>Resim</p></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (UserCategoryJunctionDTO item in Model.UserCategoryJunctionDTOs)
                    {
                        int CategoryofFood_status = (int)item.CategoryofFood_Status;  // asp-route-status="@(int)item.Status" olmuyor...

                        <tr>
                            <td></td>
                            <td class="position">
                                <p>@item.CategoryName_of_Foods</p>
                            </td>
                            <td class="position">
                                <p>@item.CategoryofFood_Status</p>
                            </td>
                            @*<td colspan="2" style="padding-left:150px">@item.CategoryofFoodPicture</td>*@
                            <td style="text-align: center;">
                                @if (item.CategoryofFood_Picture != null)
                                {
                                    <img style="width:85px; height:40px" src="@item.CategoryofFood_Picture" />
                                }
                            </td>
                            <td class="btnposition">
                                @*<a asp-action="UpdateCategoryofFood" asp-controller="CategoryofFood" asp-route-id="@item.ID" class="btn btn-warning">Güncelle</a>*@
                                <button class="btn btn-warning" id="updateCategoryofFood" value="updateCategoryofFoodValue" data-categoryID=@item.CategoryofFoodID data-userID=@item.AppUserId>
                                    Güncelle
                                </button>

                            </td>
                            <td class="btnposition">
                                @*<a asp-action="DeleteCategoryofFood" asp-controller="CategoryofFood" asp-route-id="@item.ID" class="btn btn-danger">Sil</a>*@

                                <button class="btn btn-danger" id="deleteCategoryofFood" value="deleteCategoryofFoodValue" data-categoryID=@item.CategoryofFoodID>Sil</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}


<div class="modal fade" id="CRUDCategoryofFoodModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>

            <div class="modal-body" id="CRUDCategoryofFood">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="LoadingCategoryofFoodModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>

            <div class="modal-body" id="CRUDCategoryofFood">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div style="display:inline">Loading...</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>


<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/alertify.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/alertify.min.css" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/themes/default.min.css" />

@if (TempData["messageCategoryofFood"] != null) // konrol yapılmazsa messageCategoryofFood null olduğu zaman .ToString() 'de hata verir..
{
    @if (TempData["messageCategoryofFood"].ToString() == "Kategori güncellendi")
    {

        <script>
            alertify.warning("Kategori güncellendi");
        </script>
    }
    else if (TempData["messageCategoryofFood"].ToString() == "Kategori silindi")
    {

        <script>
            alertify.error("Kategori silindi");
        </script>
    }
    else if (TempData["messageCategoryofFood"].ToString() == "Kategori eklendi")
    {

        <script>
            alertify.success("Kategori eklendi");
        </script>
    }

    TempData["messageCategoryofFood"] = null;

}
else if (TempData["messageCategoryofFood_InOtherUsersList"] != null)
{
    string result_Message = TempData["messageCategoryofFood_InOtherUsersList"].ToString();
    if (TempData["messageCategoryofFood_InOtherUsersList"].ToString() == "Başarılı")
    {
        <script>
            alertify.success("Kategori listenize eklendi");
        </script>
    }
    else
    {   <script>
                 alertify.success("Kategori listenize eklenemedi");
        </script>

    }

    TempData["messageCategoryofFood_InOtherUsersList"] = null;
}



<script>
    $(document).ready(function () {
        var t = $('#tab2').DataTable({

            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            },
            columnDefs: [  // indexleme
                {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                },
            ],
            order: [[1, 'asc']],
            pagingType: 'full_numbers' // ilk ve son butonları eklendi..

        });

        // indexleme
        t.on('order.dt search.dt', function () {
            let i = 1;

            t.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });
        }).draw();

        $("#flexSwitchCheckText").text("Giriş...Havuzdaki diğer kategoriler");
        document.getElementById("flexSwitchCheckDefault").checked = false;

    });
</script>

<script type="text/javascript">



    @Model.JavascriptToRun // yaptığı iş, içinde barındırdığı ShowErrorInsertOperationPopup veya ShowErrorUpdateOperationPopup fonksiyonu sayesinde, bu fonksiyonları çağırmak

        function ShowErrorInsertOperationPopup() {
            // alert('Sorry, we could not process your order.');

            $.ajax({
                //url: '@@Url.Action("AddFoodAjax","Food")',
                url: 'AddCategoryofFoodAjax',
                //data: { pdto_reloaddata: @@Model.FoodDTO },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDCategoryofFood").html(data);
                    CRUDCategoryofFoodModalLoaded();

                },
                beforeSend: function () {
                    $('.loader').show(); // Assuming that you have some loader defined
                },
                complete: function () {
                    $('.loader').hide(); //Hide this loader
                },
                error: function () {
                    alert("Hata alındı.");
                }
            });

        }

    function ShowErrorUpdateOperationPopup(_id) {
        // alert('Sorry, we could not process your order.'); , userID: "80bce695-114a-41d2-be48-08db91a3e366"

        $.ajax({
            //url: '@@Url.Action("AddFoodAjax","Food")',
            url: 'UpdateCategoryofFoodAjax',
            data: { categoryID: _id },
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                $("#CRUDCategoryofFood").html(data);
                CRUDCategoryofFoodModalLoaded();

            },
            beforeSend: function () {
                $('.loader').show(); // Assuming that you have some loader defined
            },
            complete: function () {
                $('.loader').hide(); //Hide this loader
            },
            error: function () {
                alert("Hata alındı.");
            }
        });

    }

    function CRUDCategoryofFoodModalLoaded() {
        $("#CRUDCategoryofFoodModal").modal('show'); // #CRUDCategoryofFoodModal içinde CRUDCategoryofFood var (<div class="modal-body" id="CRUDCategoryofFood">) onun içinde de data var (_CrudCategoryofFoodPartial)
    }


    $(function () {
        //$("#addNewCategoryofFood").click(function () {
        $("#tab1").on("click", "[value=addNewCategoryofFoodValue]", function () {
            $.ajax({
                //url: '@@Url.Action("AddCategoryofFoodAjax","CategoryofFood")',
                url: 'AddCategoryofFoodAjax',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDCategoryofFood").html(data);
                    CRUDCategoryofFoodModalLoaded();

                },
                beforeSend: function () {
                    $('.loader').show(); // Assuming that you have some loader defined
                },
                complete: function () {
                    $('.loader').hide(); //Hide this loader
                },
                error: function () {
                    alert("Hata alındı.");
                }
            });
        });
    });

    $(function () {
        //$("#updateCategoryofFood").click(function () {
        // , userID: $(this).attr("data-userID")
        $("#tab2").on("click", "[value=updateCategoryofFoodValue]", function () {
            $.ajax({
                //url: '@@Url.Action("AddCategoryofFoodAjax","CategoryofFood")',
                url: 'UpdateCategoryofFoodAjax',
                data: { categoryID: $(this).attr("data-categoryID") },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDCategoryofFood").html(data);
                    CRUDCategoryofFoodModalLoaded();

                },
                beforeSend: function () {
                    $("#LoadingCategoryofFoodModal").modal('show');
                },
                complete: function () {
                    $("#LoadingCategoryofFoodModal").modal('hide');

                    // $('.loader').hide(); //Hide this loader
                },
                error: function () {
                    alert("Hata alındı.");
                }
            });
        });
    });


    $(function () {

        $("#tab2").on("click", "[value=deleteCategoryofFoodValue]", function () {
            $.ajax({
                //url: '@@Url.Action("AddCategoryofFoodAjax","CategoryofFood")',
                url: 'DeleteCategoryofFoodAjax',
                // data: { categoryID: $(this).attr("data-categoryID") },
                data: { categoryID: $(this).attr("data-categoryID") },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDCategoryofFood").html(data);
                    CRUDCategoryofFoodModalLoaded();

                },
                error: function () {
                    alert("Hata alındı.");
                }
            });
        });
    });

</script>
