@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ProductVM

@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Areas/Admin/Views/Admin/_AdminLayout.cshtml";
}

<h4 style="color:red;">@TempData["mesaj"] </h4>


@if (Model.ProductDTOs.Count == 0)
{
    <div class="jumbotron" id="tab1" style="padding:20px;  background-color:lightgrey" >
        
        @* BURASIIII DEĞİLLLL <input type="submit" id="btnIslemYap" value="İşlem Yap" />*@

        <button class="btn btn-outline-success " id="addNewProduct" value="addNewProductValue">Ürün Eklemek için tıklayınız</button>
    </div>
}

else
{
    <div id="tab1" class="mb-3">

        <button class="btn btn-outline-success " id="addNewProduct" value="addNewProductValue"> Ürün Eklemek için tıklayınız</button>
    </div>

    <div class="container">
        <div class="row">
            <table class="table table-bordered table-hover" id="tab2">
                <thead>
                    <tr>
                        <th>Ürün İsmi</th>
                        <th>Ürün Fiyat</th>
                        <th>Ürün Adet</th>
                        <th>İskonto</th>

                        <th>Kategori ID</th>
                        <th>Kategori Adı</th>

                        <th>Durum</th>
                        <th colspan="2" style="padding-left:75px">Ürün Resim</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ProductDTO item in Model.ProductDTOs)
                    {
                        <tr>
                            <td>@item.ProductName</td>
                            <td>@item.UnitPrice</td>
                            <td>@item.UnitsInStock</td>
                            <td>@item.Discount</td>

                            <td>@item.CategoryID</td>
                            <td>@Model.CategoryDTO.CategoryName</td>

                            <td>@item.Status</td>
                            @*<td colspan="2" style="padding-left:150px">@item.CategoryPicture</td>*@
                            <td colspan="2" style="padding-left:75px"><img style="width:75%; height:75%" src="@item.ProductPicture" /></td>
                            <td>
                                <a class="btn btn-warning" value="updateProductValue" data-id=@item.ID>Güncelle</a>
                                @* BURASIIII  <button class="btn btn-warning " id="updateCategory" value="updateCategoryValue" data-id=@item.ID>Güncelle</button>*@
                            </td>
                            <td>
                                @*<a asp-action="DeleteCategory" asp-controller="Category" asp-route-id="@item.ID" class="btn btn-danger">Sil</a>*@

                                <button class="btn btn-danger " id="deleteProduct" value="deleteProductValue" data-id=@item.ID>Sil</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
     </div>
}


    <a asp-action="CategoryList" asp-controller="Category" class="btn btn-outline-info">Kategori Sayfasına Geri Dön</a>


<div class="modal fade" id="CRUDProductModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" id="CRUDProduct">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">

         @Model.JavascriptToRun

        function ShowErrorInsertOperationPopup() {
            // alert('Sorry, we could not process your order.');

            $.ajax({
                //url: '@@Url.Action("AddProductAjax","Product")',
                url: 'AddProductAjax',
                //data: { pdto_reloaddata: @@Model.ProductDTO },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDProduct").html(data);
                    CRUDProductModalLoaded();

                },
                error: function () {
                    alert("Hata alındı.");
                }
            });

        }

        function ShowErrorUpdateOperationPopup(_id) {
            // alert('Sorry, we could not process your order.');

            $.ajax({
                //url: '@@Url.Action("AddProductAjax","Product")',
                url: 'UpdateProductAjax',
                data: { id: _id },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDProduct").html(data);
                    CRUDProductModalLoaded();

                },
                error: function () {
                    alert("Hata alındı.");
                }
            });

        }



    function CRUDProductModalLoaded() {
        $("#CRUDProductModal").modal('show'); // #CRUDProductModal içinde CRUDProduct var (<div class="modal-body" id="CRUDProduct">) onun içinde de data var (_CrudProductPartial)
    }


    $(function () {
        //$("#addNewProduct").click(function () {
        $("#tab1").on("click", "[value=addNewProductValue]", function () {
            $.ajax({
                //url: '@@Url.Action("AddProductAjax","Product")',
                url: 'AddProductAjax',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDProduct").html(data);
                    CRUDProductModalLoaded();

                },
                error: function () {
                    alert("Hata alındı.");
                }
            });
        });
    });

    $(function () {
        //$("#updateProduct").click(function () {
        $("#tab2").on("click", "[value=updateProductValue]", function () {
            $.ajax({
                //url: '@@Url.Action("UpdateProductAjax","Product")',
                url: 'UpdateProductAjax',
                data: { id: $(this).attr("data-id") },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDProduct").html(data);
                    CRUDProductModalLoaded();

                },
                error: function () {
                    alert("Hata alındı.");
                }
            });
        });
    });

    $(function () {
        //$("#deleteProduct").click(function () {
        $("#tab2").on("click", "[value=deleteProductValue]", function () {
            $.ajax({
                //url: '@@Url.Action("DeleteProductAjax","Product")',
                url: 'DeleteProductAjax',
                data: { id: $(this).attr("data-id") },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDProduct").html(data);
                    CRUDProductModalLoaded();

                },
                error: function () {
                    alert("Hata alındı.");
                }
            });
        });
    });


</script>



















