@using Project.ENTITIES.Enums;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model FoodVM

@if (Model.FoodDTO.ID == 0 && ViewBag.CRUD != "delete_operation")
{
    <h3>Ürün Oluşturma Formu</h3>
}
else if (Model.FoodDTO.ID != 0 && ViewBag.CRUD != "delete_operation")
{
    <h3>Ürün Güncelleme Formu</h3>
}
else if (Model.FoodDTO.ID != 0 && ViewBag.CRUD == "delete_operation")
{
    <h3>Ürün Silme Formu</h3>
}

<hr />
<div class="row">

    <form asp-action="CRUDFood" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (ViewBag.CRUD != "delete_operation")
        {
            TempData["Deleted"] = null;  // delete pop-up sayfasını açıp sonra kapatıp sonra da update/add pop'ı seçilirse TempData["Deleted"] sıfırlanmadığından CRUDFood kısmında delete operation çalışır bu yüzden bunu sıfırlamak lazım


            <div class="form-group">
                <label asp-for="FoodDTO.FoodName" class="control-label"></label>
                <input asp-for="FoodDTO.FoodName" class="form-control" placeholder="Ürün adı giriniz..." />
                <span asp-validation-for="FoodDTO.FoodName" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FoodDTO.FoodPrice" class="control-label"></label>
                        <input asp-for="FoodDTO.FoodPrice" class="form-control" placeholder="Ürün fiyatı giriniz..." />
                        <span asp-validation-for="FoodDTO.FoodPrice" class="text-danger"></span>
                    </div>
                </div>
@*                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FoodDTO.UnitsInStock" class="control-label" style=" width:100%"></label>
                        <input asp-for="FoodDTO.UnitsInStock" class="form-control" placeholder="Stok sayısı giriniz..." min="0" />
                        <span asp-validation-for="FoodDTO.UnitsInStock" class="text-danger"></span>
                    </div>
                </div>*@
            </div>
@*            <div class="form-group">
                <label asp-for="FoodDTO.Discount" class="control-label"></label>
                <input asp-for="FoodDTO.Discount" class="form-control" min="0" />
                <span asp-validation-for="FoodDTO.Discount" class="text-danger"></span>
            </div>*@

            <input type="hidden" asp-for="FoodDTO.CategoryofFoodID" />

            @*  
                <input type="hidden" asp-for="CategoryofFoodDTO.ID" />
                <input type="hidden" asp-for="CategoryofFoodDTO.CategoryofFoodName" />
            *@


            <div class="form-group">
                <label asp-for="CategoryofFoodDTO.CategoryName_of_Foods" class="control-label"></label>
                <select class="form-control" asp-for="CategoryofFoodDTO.CategoryName_of_Foods" asp-items="@ViewBag.CategoryofFoodNames" disabled></select>
                <span asp-validation-for="CategoryofFoodDTO.CategoryName_of_Foods" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FoodDTO._ExistentStatus" class="control-label"></label>
                @if ((int)TempData["CategoryofFood_status"] == 0)
                {
@*                    <select disabled class="form-control" asp-for="@Enum.GetNames(typeof(Status))[1].ToString()" asp-items="@ViewBag.Status"></select>*@
                    <select disabled class="form-control" asp-for="FoodDTO._ExistentStatus" asp-items="@ViewBag.Status"></select>
                    TempData["CategoryofFood_status"] = Model.CategoryofFoodDTO.ExistentStatus; // bu kod olmaz ise kullanıcı butona basmadan çıkarsa sayfadan TempData boş kalır null hatası döner ... tedbiren kalsın bu kod
                }
                else
                {
                    <select class="form-control" asp-for="FoodDTO._ExistentStatus" asp-items="@ViewBag.Status"></select>
                    TempData["CategoryofFood_status"] = Model.CategoryofFoodDTO.ExistentStatus; // bu kod olmaz ise kullanıcı butona basmadan çıkarsa sayfadan TempData boş kalır null hatası döner ... tedbiren kalsın bu kod
                }
                <span asp-validation-for="FoodDTO._ExistentStatus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FoodDTO.FoodPicture" class="control-label"></label>
                <input class="form-control" type="file" name="FoodPicture" />
            </div>

            @if (Model.FoodDTO.ID == 0)
            {
                <div class="form-group">
                    <input type="submit" value="Ürün Ekle" class="btn btn-primary mt-2" />
                </div>
            }
            else
            {
                <input type="hidden" asp-for="FoodDTO.ID" />

                <div class="form-group">
                    <input type="submit" value="Ürün Güncelle" class="btn btn-primary mt-2" />
                </div>
            }

            @* @if (Model != null)
        {
        <input type="hidden" asp-for="ID" />
        }*@

        }

        else
        {
            <input type="hidden" asp-for="FoodDTO.ID" />

            <div class="form-group">
                <span asp-validation-for="FoodDTO.FoodName"></span> <label style="width:100%;                                height:100%">@ViewBag.FoodNameDelete silmek istediğinizden emin misiniz ?</label>

            </div>

            <div class="form-group">
                <input type="submit" value="Ürün Sil" class="btn btn-primary mt-2" />
            </div>

            TempData["Deleted"] = "true";
        }

    </form>

</div>