@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model FoodVM

@{
    ViewData["Title"] = "FoodList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@*@section CSSScripts{
    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
}*@

<style>
    .loader {
        display: none;
    }

    .position {
        width: 10%;
        position: relative;
    }

        .position p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    .btnposition {
        vertical-align: middle;
        text-align: center;
        width: 20%;
    }
</style>


@*<h4 style="color:red;">@TempData["mesaj"] </h4>*@

<div class="spinner-border loader" role="status">
    <span class="sr-only">Loading...</span>
</div>

<hr class="loader" />

@if (Model.FoodDTOs.Count == 0)
{
    <div class="jumbotron" id="tab1" style="padding:20px;  background-color:lightgrey">

        @* BURASIIII DEĞİLLLL <input type="submit" id="btnIslemYap" value="İşlem Yap" />*@

        <button class="btn btn-outline-success " id="addNewFood" value="addNewFoodValue">Ürün Eklemek için tıklayınız</button>
    </div>
}

else
{
    <div id="tab1" class="mb-3">

        <button class="btn btn-outline-success " id="addNewFood" value="addNewFoodValue"> Ürün Eklemek için tıklayınız</button>
    </div>

    <div class="panel panel-primary  ml-5">
        <div class="panel panel-body">
            <table class="table table-hover table-bordered table-responsive-s" id="tab2">
                <thead class="thead-light">
                    <tr>
                        <th>Index</th>
                        <th class="position"><p>Ürün İsmi</p></th>
                        <th class="position"><p>Ürün Fiyat</p></th>
@*                        <th class="position"><p>Ürün Adet</p></th>
*@                        @*<th class="position"><p>İskonto</p></th>*@

                        @*<th>Kategori ID</th>*@
                        <th class="position"><p>Kategori Adı</p></th>

                        <th class="position"><p>Durum<p></th>
                        <th class="position"><p>Ürün Resim<p></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (FoodDTO item in Model.FoodDTOs)
                    {
                        <tr>
                            <td></td> <!-- indexleme gelecek -->
                            <td class="position"><p>@item.FoodName</p></td>
                            <td class="position"><p>@item.FoodPrice</p></td>
                            @*<td class="position"><p>@item.UnitsInStock</p></td>*@
@*                            <td class="position"><p>@item.Discount</p></td>*@

                            @*<td>@item.CategoryofFoodID</td>*@
                            <td class="position"><p>@Model.CategoryofFoodDTO.CategoryName_of_Foods</p></td>

                            <td class="position"><p>@item._ExistentStatus</p></td>
                            @*<td colspan="2" style="padding-left:150px">@item.CategoryofFoodPicture</td>*@
                            <td style="text-align: center;">
                                @if (item.FoodPicture != null)
                                {
                                    <img style="width:85px; height:50px" src="@item.FoodPicture" />
                                }                                
                            </td>
                            <td class="btnposition">
                                <a class="btn btn-warning" value="updateFoodValue" data-id=@item.ID>Güncelle</a>
                                @* BURASIIII  <button class="btn btn-warning " id="updateCategoryofFood" value="updateCategoryofFoodValue" data-id=@item.ID>Güncelle</button>*@
                            </td>
                            <td class="btnposition">
                                @*<a asp-action="DeleteCategoryofFood" asp-controller="CategoryofFood" asp-route-id="@item.ID" class="btn btn-danger">Sil</a>*@

                                <button class="btn btn-danger " id="deleteFood" value="deleteFoodValue" data-id=@item.ID>Sil</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}


<a asp-action="CategoryofFoodList" asp-controller="CategoryofFood" class="btn btn-outline-info mb-3">Kategori Sayfasına Geri Dön</a>


<div class="modal fade" id="CRUDFoodModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" id="CRUDFood">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

@*@section Scripts{
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

            <script>
            $(document).ready(function () {
                $('#tab2').DataTable();
            });
        </script>
    }*@

<div class="modal fade" id="LoadingCategoryofFoodModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>

            <div class="modal-body" id="CRUDCategoryofFood">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div style="display:inline">Loading...</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>



<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/alertify.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/alertify.min.css" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/themes/default.min.css" />

@if (TempData["messageFood"] != null)
{
    @if (TempData["messageFood"].ToString() == "Ürün güncellendi")
    {
        <script>
            alertify.warning("Ürün güncellendi");
        </script>
    }
    else if (TempData["messageFood"].ToString() == "Ürün silindi")
    {
        <script>
            alertify.error("Ürün silindi");
        </script>
    }
    else if (TempData["messageFood"].ToString() == "Ürün eklendi")
    {
        <script>
            alertify.success("Ürün eklendi");
        </script>
    }

}



<script>
    $(document).ready(function () {
        var t = $('#tab2').DataTable({

            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            },
            columnDefs: [
                {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                },
            ],
            order: [[1, 'asc']],
            pagingType: 'full_numbers'

        });


        t.on('order.dt search.dt', function () {
            let i = 1;

            t.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });
        }).draw();



    });
</script>


<script type="text/javascript">




    @Model.JavascriptToRun

        function ShowErrorInsertOperationPopup() {
            // alert('Sorry, we could not process your order.');

            $.ajax({
                //url: '@@Url.Action("AddFoodAjax","Food")',
                url: 'AddFoodAjax',
                //data: { pdto_reloaddata: @@Model.FoodDTO },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDFood").html(data);
                    CRUDFoodModalLoaded();

                },
                beforeSend: function () {
                    $('.loader').show(); // Assuming that you have some loader defined
                },
                complete: function () {
                    $('.loader').hide(); //Hide this loader
                },
                error: function () {
                    alert("Hata alındı.");
                }
            });

        }

    function ShowErrorUpdateOperationPopup(_id) {
        // alert('Sorry, we could not process your order.');

        $.ajax({
            //url: '@@Url.Action("AddFoodAjax","Food")',
            url: 'UpdateFoodAjax',
            data: { id: _id },
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                $("#CRUDFood").html(data);
                CRUDFoodModalLoaded();

            },
            beforeSend: function () {
                $('.loader').show(); // Assuming that you have some loader defined
            },
            complete: function () {
                $('.loader').hide(); //Hide this loader
            },
            error: function () {
                alert("Hata alındı.");
            }
        });

    }



    function CRUDFoodModalLoaded() {
        $("#CRUDFoodModal").modal('show'); // #CRUDFoodModal içinde CRUDFood var (<div class="modal-body" id="CRUDFood">) onun içinde de data var (_CrudFoodPartial)
    }


    $(function () {
        //$("#addNewFood").click(function () {
        $("#tab1").on("click", "[value=addNewFoodValue]", function () {
            $.ajax({
                //url: '@@Url.Action("AddFoodAjax","Food")',
                url: 'AddFoodAjax',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDFood").html(data);
                    CRUDFoodModalLoaded();

                },
                beforeSend: function () {
                    $('.loader').show(); // Assuming that you have some loader defined
                },
                complete: function () {
                    $('.loader').hide(); //Hide this loader
                },
                error: function () {
                    alert("Hata alındı.");
                }
            });
        });
    });

    $(function () {
        //$("#updateFood").click(function () {
        $("#tab2").on("click", "[value=updateFoodValue]", function () {
            $.ajax({
                //url: '@@Url.Action("UpdateFoodAjax","Food")',
                url: 'UpdateFoodAjax',
                data: { id: $(this).attr("data-id") },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDFood").html(data);
                    CRUDFoodModalLoaded();

                },
                beforeSend: function () {
                    $("#LoadingCategoryofFoodModal").modal('show');
                },
                complete: function () {
                    $("#LoadingCategoryofFoodModal").modal('hide');

                    // $('.loader').hide(); //Hide this loader
                },
                error: function () {
                    alert("Hata alındı.");
                }
            });
        });
    });

    $(function () {
        //$("#deleteFood").click(function () {
        $("#tab2").on("click", "[value=deleteFoodValue]", function () {
            $.ajax({
                //url: '@@Url.Action("DeleteFoodAjax","Food")',
                url: 'DeleteFoodAjax',
                data: { id: $(this).attr("data-id") },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDFood").html(data);
                    CRUDFoodModalLoaded();

                },
                error: function () {
                    alert("Hata alındı.");
                }
            });
        });
    });


</script>



















