@model CategoryVM

@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Areas/Admin/Views/Admin/_AdminLayout.cshtml";
}

<h4 style="color:red;">@TempData["mesaj"] </h4>



@if (Model.Categories.Count == 0)
{
    <div class="jumbotron" id="tab1">        
        @*<input type="submit" id="btnIslemYap" value="İşlem Yap" />*@

        <button class="btn btn-outline-success " id="addNewCategory" value="addNewCategoryValue">Kategori Eklemek için tıklayınız</button>
    </div>
}
else
{
    <div id="tab1" class="mb-3">
        <button class="btn btn-outline-success " id="addNewCategory" value="addNewCategoryValue">Kategori Eklemek için tıklayınız</button>
    </div>


    <div class="panel panel-primary">
        <div class="panel panel-body">
            <table class="table table-hover table-bordered" id="tab2">
                <thead>
                    <tr>
                        <th>Kategori İsmi</th>
                        <th>Durum</th>
                        <th colspan="2" >Resim</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CategoryDTO item in Model.Categories)
                    {
                        <tr>
                            <td><a class="" asp-area="Admin" asp-controller="Product" asp-action="ProductList" asp-route-id="@item.ID">@item.CategoryName</a></td>
                            <td>@item.Status</td>
                            @*<td colspan="2" style="padding-left:150px">@item.CategoryPicture</td>*@
                            <td colspan="2" style="padding-left:200px"><img style="width:25%; height:25%" src="@item.CategoryPicture" /></td>
                            <td>
                                @*<a asp-action="UpdateCategory" asp-controller="Category" asp-route-id="@item.ID" class="btn btn-warning">Güncelle</a>*@
                                <button class="btn btn-warning " id="updateCategory" value="updateCategoryValue" data-id=@item.ID>Güncelle</button>
                            </td>
                            <td>
                                @*<a asp-action="DeleteCategory" asp-controller="Category" asp-route-id="@item.ID" class="btn btn-danger">Sil</a>*@

                                <button class="btn btn-danger " id="deleteCategory" value="deleteCategoryValue" data-id=@item.ID>Sil</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<div class="modal fade" id="CRUDCategoryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" id="CRUDCategory">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

 


<script type="text/javascript">



    function CRUDCategoryModalLoaded() {
        $("#CRUDCategoryModal").modal('show'); // #MaintenanceRoomModal içinde MaintenanceRoom var (<div class="modal-body" id="MaintenanceRoom">) onun içinde de data var (_MaintenanceRoomPartial veya _UnMaintenanceRoomPartial)
    }

    $(function () {
        //$("#addNewCategory").click(function () {
        $("#tab1").on("click", "[value=addNewCategoryValue]", function () {
            $.ajax({
                //url: '@@Url.Action("AddCategoryAjax","Category")',
                url: 'AddCategoryAjax',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDCategory").html(data);
                    CRUDCategoryModalLoaded();

                },
                error: function () {
                    alert("Hata alındı.");
                }
            });
        });
    });

    $(function () {
        //$("#updateCategory").click(function () {
        $("#tab2").on("click", "[value=updateCategoryValue]", function () {
            $.ajax({
                //url: '@@Url.Action("AddCategoryAjax","Category")',
                url: 'UpdateCategoryAjax',
                data: { id: $(this).attr("data-id") },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDCategory").html(data);
                    CRUDCategoryModalLoaded();

                },
                error: function () {
                    alert("Hata alındı.");
                }
            });
        });
    });


    $(function () {
        //$("#addNewCategory").click(function () {
        $("#tab2").on("click", "[value=deleteCategoryValue]", function () {
            $.ajax({
                //url: '@@Url.Action("AddCategoryAjax","Category")',
                url: 'DeleteCategoryAjax',
                data: { id: $(this).attr("data-id") },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDCategory").html(data);
                    CRUDCategoryModalLoaded();

                },
                error: function () {
                    alert("Hata alındı.");
                }
            });
        });
    });

   /*
    $(function () {

        $("#tab1").on("click", "[value=addNewCategory]", function () {

            $.ajax({

                //url,type,success
                url: 'AddCategoryAjax',
                data: {}, // data-id=@@item.ID
                type: "Get",
                success: function (data) {    // data, UnMaintenanceRoomAjax'ın return ettiği _UnMaintenanceRoomPartial verisidir
                    $('#AddCategory').html(data);  // <div class="modal-body" id="MaintenanceRoom"> data buraya paste olur..
                    AddCategoryModalLoaded();

                }


            })
        })
        


    })*/


</script>
