@model CategoryVM

@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Areas/Admin/Views/Admin/_AdminLayout.cshtml";
}

<style>
.loader {
    display: none;
}

 .position {
        width: 25%;
    position: relative;
  }

.position a, p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btnposition{
    vertical-align: middle;
    text-align: center;
}

    <!-- -ms-transform: translate(-50%, -50%); -->

</style>
@*<h4 style="color:red;">@TempData["mesaj"] </h4>*@

 

<div class="spinner-border loader" role="status">
  <span class="sr-only">Loading...</span>
</div>
<hr class="loader"/>

@if (Model.CategoryDTOs.Count == 0)
{
    <div class="jumbotron" id="tab1" style="padding:20px;  background-color:lightgrey">
        @*<input type="submit" id="btnIslemYap" value="İşlem Yap" />*@

        <button class="btn btn-outline-success " id="addNewCategory" value="addNewCategoryValue">Kategori Eklemek için tıklayınız</button>
    </div>
}
else
{
    <div id="tab1" class="mb-3">
        <button class="btn btn-outline-success " id="addNewCategory" value="addNewCategoryValue">Kategori Eklemek için tıklayınız</button>
    </div>


    <div class="panel panel-primary">
        <div class="panel panel-body">
            <table class="table table-hover table-bordered table-responsive-lg" id="tab2" width="100%" border="0" cellspacing="0" cellpadding="100%">
                <thead class="thead-light">
                    <tr>
                        <th>Index</th>
                        <th class="position"><p>Kategori İsmi</p></th>
                        <th class="position"><p>Durum</p></th>
                        <th class="position"><p>Resim</p></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CategoryDTO item in Model.CategoryDTOs)
                    {
                        <tr>
                            <td></td>
                            <td class="position">
                                <a class="" asp-area="Admin" asp-controller="Product" asp-action="ProductList" asp-route-id="@item.ID">@item.CategoryName</a>
                            </td>
                            <td class="position">
                                <p>@item.Status</p>
                            </td>
                            @*<td colspan="2" style="padding-left:150px">@item.CategoryPicture</td>*@
                            <td style="text-align: center;">
                                @if (item.CategoryPicture != null)
                                {
                                    <img style="width:85px; height:40px" src="@item.CategoryPicture" />
                                }                                
                            </td>
                            <td class="btnposition">
                                @*<a asp-action="UpdateCategory" asp-controller="Category" asp-route-id="@item.ID" class="btn btn-warning">Güncelle</a>*@
                                <button class="btn btn-warning" id="updateCategory" value="updateCategoryValue" data-id=@item.ID>
                                    Güncelle
                                </button>
                          
                            </td>
                            <td class="btnposition">
                                @*<a asp-action="DeleteCategory" asp-controller="Category" asp-route-id="@item.ID" class="btn btn-danger">Sil</a>*@

                                <button class="btn btn-danger" id="deleteCategory" value="deleteCategoryValue" data-id=@item.ID>Sil</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<div class="modal fade" id="CRUDCategoryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>

            <div class="modal-body" id="CRUDCategory">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="LoadingCategoryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>

            <div class="modal-body" id="CRUDCategory">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div style="display:inline">Loading...</div>
             </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>


<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/alertify.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/alertify.min.css" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/themes/default.min.css" />

@if (TempData["messageCategory"] != null)
{
    @if (TempData["messageCategory"].ToString() == "Kategori güncellendi")
    {
         
        <script>
            alertify.warning("Kategori güncellendi");
        </script>
    }    
    else if (TempData["messageCategory"].ToString() == "Kategori silindi")
    {
         
        <script>
            alertify.error("Kategori silindi");
        </script>
    }
    else if (TempData["messageCategory"].ToString() == "Kategori eklendi")
    {
         
        <script>
            alertify.success("Kategori eklendi");
        </script>
    }

    TempData["messageCategory"] = null;

}



<script>
    $(document).ready(function () {
        var t = $('#tab2').DataTable({

            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            },
            columnDefs: [  // indexleme
                {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                },
            ],
            order: [[1, 'asc']],
            pagingType: 'full_numbers' // ilk ve son butonları eklendi..

        });

        // indexleme
        t.on('order.dt search.dt', function () {
            let i = 1;

            t.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });
        }).draw();



    });
</script>

<script type="text/javascript">



    @Model.JavascriptToRun // yaptığı iş, içinde barındırdığı ShowErrorInsertOperationPopup veya ShowErrorUpdateOperationPopup fonksiyonu sayesinde, bu fonksiyonları çağırmak

        function ShowErrorInsertOperationPopup() {
            // alert('Sorry, we could not process your order.');

            $.ajax({
                //url: '@@Url.Action("AddProductAjax","Product")',
                url: 'AddCategoryAjax',
                //data: { pdto_reloaddata: @@Model.ProductDTO },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDCategory").html(data);
                    CRUDCategoryModalLoaded();

                },
                beforeSend: function () {
                    $('.loader').show(); // Assuming that you have some loader defined
                },
                complete: function () {
                    $('.loader').hide(); //Hide this loader
                },
                error: function () {
                    alert("Hata alındı.");
                }
            });

        }

    function ShowErrorUpdateOperationPopup(_id) {
        // alert('Sorry, we could not process your order.');

        $.ajax({
            //url: '@@Url.Action("AddProductAjax","Product")',
            url: 'UpdateCategoryAjax',
            data: { id: _id },
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                $("#CRUDCategory").html(data);
                CRUDCategoryModalLoaded();

            },
            beforeSend: function () {
                $('.loader').show(); // Assuming that you have some loader defined
            },
            complete: function () {
                $('.loader').hide(); //Hide this loader
            },
            error: function () {
                alert("Hata alındı.");
            }
        });

    }



    function CRUDCategoryModalLoaded() {
        $("#CRUDCategoryModal").modal('show'); // #CRUDCategoryModal içinde CRUDCategory var (<div class="modal-body" id="CRUDCategory">) onun içinde de data var (_CrudCategoryPartial)
    }

    $(function () {
        //$("#addNewCategory").click(function () {
        $("#tab1").on("click", "[value=addNewCategoryValue]", function () {
            $.ajax({
                //url: '@@Url.Action("AddCategoryAjax","Category")',
                url: 'AddCategoryAjax',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDCategory").html(data);
                    CRUDCategoryModalLoaded();

                },
                beforeSend: function () {
                    $('.loader').show(); // Assuming that you have some loader defined
                },
                complete: function () {
                    $('.loader').hide(); //Hide this loader
                },
                error: function () {
                    alert("Hata alındı.");
                }
            });
        });
    });

    $(function () {
        //$("#updateCategory").click(function () {
        $("#tab2").on("click", "[value=updateCategoryValue]", function () {
            $.ajax({
                //url: '@@Url.Action("AddCategoryAjax","Category")',
                url: 'UpdateCategoryAjax',
                data: { id: $(this).attr("data-id") },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDCategory").html(data);
                    CRUDCategoryModalLoaded();

                },
                beforeSend: function () {
                       $("#LoadingCategoryModal").modal('show');
                },
                complete: function () {
                    $("#LoadingCategoryModal").modal('hide');

                    // $('.loader').hide(); //Hide this loader
                },
                error: function () {
                    alert("Hata alındı.");
                }
            });
        });
    });


    $(function () {
        //$("#addNewCategory").click(function () {
        $("#tab2").on("click", "[value=deleteCategoryValue]", function () {
            $.ajax({
                //url: '@@Url.Action("AddCategoryAjax","Category")',
                url: 'DeleteCategoryAjax',
                data: { id: $(this).attr("data-id") },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDCategory").html(data);
                    CRUDCategoryModalLoaded();

                },
                error: function () {
                    alert("Hata alındı.");
                }
            });
        });
    });


</script>
